 body {
     background-color: #0f172a;
 }
.BC{
 display:flex;
 align-item:centre;
}
.profile{
 align-item:centre;
}
 
 #MP {
     color: skyblue;
  align-item:centre;
 }
 
 .main {
     color: orange;
 }
 
 .mine {
     color: #e2e8f0;
 }
 
 hr {
     border-color: #334155;
 }
 
 .container {
     box-shadow: 0 10px 30px rgba(0, 0, 0, 5);
 }
 
 img {
     border-radius: 50%;
     width: 60px;
     height: 60px;
 }
 
 a {
     text-decoration: none;
     color: #38bdf8;
 }
